:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Relawey";
  --accent-color: #404bbf;
  --bgcolor-primary: #e5e5e5;
  --white-color: #ffffff;
  --primary-color: #2e2f42;
  --text-color: #434455;
  --web-color: #4d5ae5;
  --footer-text: #e7e9fc;
  --primary-color-in-dark-them: #f4f4fd;
}
body {
  font-family: var(--primary-font);
  color: var(--primary-color);
  letter-spacing: 0.02em;
  font-size: 16px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

/*============================Хедер======================================= */
.logo {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.333;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  font-family: var(--secondary-font);
}
.web-color {
  color: var(--web-color);
}
.site-nav {
  color: var(--primary-color);
}
.header-nav:hover,
.header-nav:focus {
  color: var(--accent-color);
}
.header-nav {
  color: var(--primary-color);
}
.contacts:hover,
.contacts:focus {
  color: var(--accent-color);
}
.contacts {
  color: var(--text-color);
}

/*================================HERO====================================*/
.hero-section {
  background-color: #2e2f42;
  width: 1440px;
  height: 600px;
}
.order-text {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: #ffffff;
}
.order-button {
  width: 169px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--web-color);
  color: var(--white-color);
}
.order-button {
  cursor: pointer;
}
.order-button:hover,
.order-button:focus {
  background-color: var(--accent-color);
}
.title {
  color: var(--primary-color);
}
.paragraph {
  color: var(--text-color);
}
.team-section {
  background-color: var(--primary-color-in-dark-them);
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.111;
}
.what-section {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.111;
}

/*===================================2 pages==============================*/
.page-nav {
  letter-spacing: 0.04em;
}
.portfolio-button {
  cursor: pointer;
  background-color: var(--primary-color-in-dark-them);
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}
/*====================================footer===============================*/
.footer-section {
  background-color: var(--primary-color);
}
.logo-footer {
  color: var(--primary-color-in-dark-them);
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.666;
  letter-spacing: 0.03em;
}
.text-footer {
  color: var(--footer-text);
  line-height: 1.5;
}
